/* Colors: */
/* Main- section titles, navigation: #655092 */
/* Secondary- buttons #6A6893 */
/* Third- gradients #6788B0 */
/* Gray- #A2A2A2 */

html, body {
    height: 100%;
    margin: 0px;
}

.page{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;  /* sticks footer at the bottom of the page */
    margin-bottom:5%;
}

/* grid container */
.People.section{
    display:flex;
    justify-content: center;
    max-width:100%;
    margin:0;
    padding:0;
    flex-direction:column;
    align-items:center;
}

.Projects.section{
    display:flex;
    justify-content: center;
    max-width:80%;
    margin:0;
    padding:0;
    flex-wrap:wrap;
}

.People.gridContainer{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin:0;
    padding:0;
    flex-wrap:wrap;
    width:80%;
}

.Project.subsection, .Person.subsection{
    flex:0 0 392px;  /* change once image size has been set */ /* RESPONSIVE: CHANGE PIXEL DIMENSIONS*/
    margin:1%;
    margin-left:0;
    display:flex;
    flex-direction:column;
    height:490px; /* RESPONSIVE: CHANGE PIXEL DIMENSIONS*/
 }

.gridHoverContainer{
    height:80%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hoverBody{
    color:white;
    font-size:0.75em;
    padding:2%;
}

.Project .subsectionSubtitle{
    display:inline;
    margin-left:0;
}

.gridTextContainer{
    height:20%;
    width:100%;
}


/* BUTTONS/LINKS */
a {
    color: black;
    text-decoration: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

/* a.Link:hover, a.Main:hover {
    color:#655092;
} */

a:hover{
    color:#655092;
}

a.Link{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

a.Navbar {
    font-family: 'Open Sans Condensed', sans-serif;
    margin:3%;
}

a.Navbar.Main, a.Navbar.Logo {
    font-size: 1.75em;
    text-transform: uppercase;
}

a.Footer {
    font-family: 'Open Sans Condensed', sans-serif;
}

a.Footer.Main {
    color: white;
    font-size: 1.75em;
    text-transform: uppercase;
}

a.Footer.Link {
    color: #A2A2A2;
    padding:5%;
}

a.Footer:hover {
    color: white;
}

.Button{
    font-family: 'Open Sans Condensed', sans-serif;
    border: 2px solid #6A6893;
    background-color: white;
    color: #6A6893;
    padding: 0.5% 2%;
    cursor: pointer;
    margin:2%;
}

.Button:hover{
    background-color:#6A6893;
    color:white;
    border-color:#6A6893;
}

/* TEXT */
p {
    font-family: 'Open Sans', sans-serif;
    margin:2%;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin:2%;
}

.sectionTitle {
    color: #655092; 
    font-size: 2.5em; 
    text-transform: uppercase;
    align-self:center;
    width:80%;
}

.Project .subsectionTitle{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom:0;
    margin-left:0;
}

.subsectionSubtitle {
    font-style: italic;
}

/* FOOTER */
footer{
    background-color:black;
    display:flex;
    flex-shrink: 0;
}

div.Footer{
    margin:4%;
}

div.Footer.Main.subsection{
    flex-grow:1; /* RESPONSIVE: CHANGE */
    display:flex;
    flex-direction:column;
}

div.Footer.Links.subsection{
    display:flex;
    flex-direction:column;
}

/* NAVBAR */
nav{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:2%;
}

div.Navbar.Links.subsection{
    flex-grow:1; /* RESPONSIVE: CHANGE */
}

div.Navbar.Main.subsection {
    width:20%; /* RESPONSIVE: CHANGE */
    
}

div.Navbar.Logo.subsection {
    width:20%; /* RESPONSIVE: CHANGE */
    text-align:right;
}


/* OTHER */
.People .pageTitle{
    display:none;
}


.Gallery .pageTitle{
    display:none;
}

.Home iframe{
    width:100%;
}



