/* Colors: */
/* Main- section titles, navigation: #655092 */
/* Secondary- buttons #6A6893 */
/* Third- gradients #6788B0 */
/* Gray- #A2A2A2 */

/****** Overall body/sections ******/
html, body {
    height: 100%;
    width:100%;
    margin: 0px;
    font-size:16px;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.page {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    z-index: 0;
}

.section {
    margin: 20px 0;
    width: 80%;
}

.noTitle {
    margin: 20px 10px;
}

/****** Type ******/
p {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
}

.sectionTitle {
    color: #655092;
    font-size: 2.75em;
    text-transform: uppercase;
    margin: 1% 0 1% 0;
    text-align: left;
    align-self:flex-start;
}

.sectionSubtitle {
    margin: 0 0 3% 0;
    width: 400px; /* responsive (mobile):full width */
    align-self:flex-start;
}

.subsectionTitle {
    font-size: 1.75em;
    margin: 0;
}

.subsectionSubtitle {
    font-style: italic;
    margin: 0;
}

/****** Buttons/Links ******/
a {
    color: black;
    text-decoration: none;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

a:hover {
    color:#655092;
}

.Link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

.Button {
    font-family: 'Open Sans Condensed', sans-serif;
    border: 1.5px solid #6A6893;
    background-color: white;
    color: #6A6893;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    margin: 2%;
    width: 150px;
    text-align: center;
}

.Button:hover {
    background-color:#6A6893;
    color:white;
    border-color:#6A6893;
}

/****** Page: Home ******/
.page.Home {
    margin-top: 0;
}

.page.Home .sectionTitle {
    margin-bottom:0;
}

body.Home nav {
    background-color: black;
}

body.Home .Navbar.Main a, body.Home .Navbar.subsection.Links a {
    color: white; 
}

body.Home .Navbar.subsection.Links a:hover, body.Home .Navbar.Main a:hover {
    color: #655092;
}

.whiteLogo{
	content:url("data/nyuad_white.svg");
}

/****** Page: Error ******/
.page.Error .Banner .sectionTitle {
    font-size: 12em;
}

.page.Error .section.Banner .contentContainer {
    margin-top: -40px;
}

/****** Section: Sketches ******/
.section.Sketches {
    /* width: 100%; */
    margin-top:0;
    position: relative;
    width: 100%;
}

.section.Sketches iframe {
    width: 100%;
    height: 100%;
}

.section.Sketches .subsection.Sketch {
    height: 91vh;
    height: 91vm;
    background-color: black;
}

.section.Sketches .subsection.Sketch .authors {
    display: flex;
    justify-content: flex-end;
}

.section.Sketches .subsection.Sketch p {
    margin: 0.5% 1.25%;
    font-size: 0.75em;
}

.section.Sketches .arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.section.Sketches  .arrow:hover {
    opacity: .5;
}

.section.Sketches a {
    padding-top: 70px;
}

.section.Sketches a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

/****** Section: Tiles ******/
.section.Tiles {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section.Tiles .contentContainer {
    width:80%; 
    display:flex;
    flex-flow:column;
}

.subsection.Tile {
    display:flex;
    flex-flow:row-reverse nowrap; /* RESPONSIVE (MOBILE): WRAP*/
    align-items:center;
}

.subsection.Tile img {
    max-width: 100%; /* RESPONSIVE(large screens): images don't get larger*/
}

.subsection.Tile .image {
    flex: 1; /* RESPONSIVE: flex: 1 100%*/
    margin: 4%;
}

.subsection.Tile .text {
    flex: 1;
    text-align: right;
    padding:15px;
}

.subsection.Tile:nth-of-type(2n) {
    flex-direction: row;
}

.subsection.Tile:nth-of-type(2n) .text {
    text-align: left;
}

/* Section: Slides */
.section.Slides {
    width: 100%;
    display: flex; 
    flex-direction: column; 
    padding-top: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

.section.Slides .subsection.Slide .subsectionTitle {
    width: 100%;
}

.main-carousel {
    width: 100%;
    height: 50%;
}

.carousel-cell {
    /* RESPONSIVE DECIDE */
    width: 100%; /* full width */
    /* margin-right: 40%; */
    margin-right: 30px;
}

.flickity-viewport {
    height: 510px !important;
}

.flickity-button {
    /* if full width: have buttons be transparent */
    /* background: transparent !important; */
}

.flickity-prev-next-button {
    top: 44% !important;
}

.section.Slides .subsection.Slide {
    /* padding: 0 12%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.section.Slides .SlideContent p, .section.Slides .SlideContent .subsectionTitle {
    margin: 1% 0;
}

.section.Slides .sectionTitle, .section.Slides .sectionSubtitle {
    width: 80%;
    align-self: center;
}

.subsection.Slide img {
    width: 100%;
    height: auto;
}

/****** Horizontical Behavior ******/
.h-viewport {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-container {
    /* background-color: white; */
    width: 200vw;
    /* height: 70vh; */
    display: flex;
}

/****** Section: People, Projects ******/
.section.People, .section.Projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section.Projects .subsection.Project, .section.People .subsection.Person {
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    width: calc(33.3% - 20px);
    position:relative;
 }

.section.People .contentContainer, .section.Projects .contentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    flex-flow: row wrap;
    width: 100%;
}

.section.Projects .sectionTitle, .section.People .sectionTitle {
    margin-left: 10px
}

.section.Projects .subsectionTitle, .section.People .subsectionTitle {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 2% 0 0 0;
}

.gridHoverContainer {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.gridHoverText:hover {
    opacity:1;
}

.gridHoverText {
    /* background-color:red; */
    opacity: 0;
    z-index: 3;
    height: 0;
    padding-bottom: 100%;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    overflow: auto;
}

.gridHoverText:hover {
    -moz-box-shadow: inset 0 0 0 100vmax rgba(39, 36, 36, 0.77);
    -webkit-box-shadow: inset 0 0 0 100vmax rgba(39, 36, 36, 0.77);
    box-shadow: inset 0 0 0 100vmax rgba(39, 36, 36, 0.77);
}

.gridHoverScroll {
    margin-bottom: -100%;
}

.hoverBody {
    color: white;
    font-size: 0.8em;
    padding: 2.5% 2.5% 0 2.5%;
    margin: 1% 1% 0 1%;
}

.hoverBody a, .hoverBody a:hover {
    color:white;
}

.gridTextContainer {
    height: 20%;
    width: 100%;
    z-index: 1;
}

/****** Section: List ******/
.section.Lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section.Lists ul {
    display: flex;
    flex-flow: row nowrap;
    margin-top:10px;
}

.section.Lists li {
   background-color: #655092;
   padding: 15px;
   text-align: center;
   margin: 3px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
}

.section.Lists li a {
    color: white;
}

.section.Lists li a:hover {
    text-decoration: underline;
}

.subsection.List .one li{
    background-color: #655092;
}

.subsection.List .two li{
    background-color: #6A6893;
}

.subsection.List .three li{
    background-color: #6788B0;
}

.section.Lists .subsection.Links {
    display: flex;
    justify-content: flex-end;
}

.section.Lists .subsection.List .subsectionTitle {
    margin-top: 1%;
}

/****** Section: Calendar ******/
.section.Calendar {
    text-align: center;
}

.section.Calendar iframe {
    width: 100%;
    height: 700px;
}

/****** Section: Event ******/
.section.Events .contentContainer {
    width: 75%;
    flex: 1 100%;
}

.section.Events .subsection.Event {
    flex: 1 100%;
    margin-top:4%;
    display: flex;
}

.section.Events .subsection.Event .dateTime {
    flex: 1 0%;
    margin: 0 1% 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section.Events .subsection.Event .day {
    font-size: 2.75em;
    margin-top: -6px;
}

.section.Events .subsection.Event .time {
    margin: 0;
}

.section.Events .subsection.Event .month {
    margin: 0;
    flex: 0;
    font-size: 1.15em;
}

.section.Events .subsection.Event .info {
    flex: 3 60%;
}

.section.Events .subsection.Event p {
    margin: 0;
}

/****** Section: Banner ******/
.page.Resources .section.Banner .sectionTitle {
    font-size: 2.25em;
}

.section.Banner .sectionTitle{
    text-align: center;
}

/****** Section: Block ******/
.section.Blocks .contentContainer {
    display: flex;
    flex-flow: row wrap;
}

.subsection.Block {
    flex: 1 100%;
    margin-top: 1%;
}

.subsection.Block.Wide {
    flex: 3 45%;
    margin-right: 10%;
}

.subsection.Block.Narrow {
    flex: 1 20%;
}

.subsection.Block p {
    display: block;
    margin: 5px 0;
}

.subsection.Block .Button {
    margin: 2% 2% 2% 0;
}

/****** Subsection: Links ******/
.subsection.Links {
    text-align: center;
}

.subsection.Links .Button {
    font-size: 1.5em;
    width: auto;
}

/****** Navbar ******/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    flex-shrink: 0;
}

nav .subsection {
    margin: 10px;
}

nav .subsection.Toggle {
    display: none;
}

nav .subsection.Toggle img {
    width: 27px;
}

.Navbar.subsection.Logo {
    flex:1;
    text-align: right;
}

nav .subsection.Logo img{
    width: 125px;
}

.nav-overlay {
    position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	opacity:0;
	display:none;
}

.nav-overlay.active{
    z-index:9999;
	opacity:1;
	visibility:visible;
}

.Navbar a{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
}

.Navbar .Main {
    font-size: 1.75em; 
    text-transform: uppercase;
    display:flex;
    align-items: center;
}

.Navbar.subsection.Links {
    margin-left: 10px;
    display:flex;
    align-items: center;
}

.Navbar.subsection.Links a {
    margin: 15px;
}

a.CurrentPage {
    color: #655092;
}

.Navbar.Main a {
    font-size: 1.75em; 
    text-transform: uppercase;
}

body.Home .subsection.Navbar .Link.Home {
    color: #655092;
}

body.Gallery .subsection.Navbar .Link.Gallery {
    color: #655092;
}

body.Resources .subsection.Navbar .Link.Resources {
    color: #655092;
}

body.People .subsection.Navbar .Link.People {
    color: #655092;
}

/****** Footer ******/
footer {
    background-color: black;
    display: flex;
    flex-shrink: 0;
    padding:2%;
    margin-top:4%;
}

.Footer {
    margin: 20px;
}

.Footer.Main.subsection {
    flex-grow: 1; /* RESPONSIVE: CHANGE */
    display: flex;
    flex-direction: column;
}

.Footer.Main p {
    margin: 0;
}

.Footer.Links.subsection {
    display: flex;
    flex-direction: column;
}

.Footer a {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.Footer .Main {
    color: white;
    font-size: 1.75em;
    text-transform: uppercase;
}

.Footer .Image {
    width: 150px;
    margin-left: -9px;
}

.Footer .Social {
    width: 22px;
}

.Footer .Link {
    color: #A2A2A2;
    padding: 5px;
    text-align: left;
}

.Footer a:hover {
    color: white;
}

/****** Responsive Layouts ******/
/* mobile/small screens */
@media (max-width : 736px){
    body {
        font-size: 16px;
        /* background-color:lightgoldenrodyellow; */
    }

    .section {
        width: 90%;
    }

    p {
        margin: 6px 0;
        font-size: 0.8em; 
    }

    .subsection.Links .Button {
        font-size: 1em;
    }

    .sectionSubtitle {
        width: auto;
    }

    /* Navigation */
    nav {
        padding: 0;
    }

    nav .subsection {
        margin: 15px;
    }

    nav .subsection.Main a {
        font-size: 1.5em;
    }

    nav .subsection.Toggle {
        display: block;
        flex: 1;
        text-align: right;
    }

    nav .subsection.Links {
        position: absolute;
		top: 50px;
		width: 100%;
		height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    nav .subsection.Links.active {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: white;
        font-size: 2em;
        position: fixed;
        z-index: 1;
        margin-left: 0;
    }

    nav .Navbar.subsection.Links a {
        margin: 15px;
    }

    nav .Link:nth-of-type(1) {
        margin-top: 35px !important;
    }

    nav.active {
        z-index: 2;
        background-color: white; 
        width: 100%; 
        position: fixed;
    } 

    nav .subsection.Logo {
        display:none;
    }

    body.Home nav {
        background-color: white;
    }
    
    body.Home .Navbar.Main a, body.Home .Navbar.subsection.Links a {
        color: black; 
    }
    
    body.Home .Navbar.subsection.Links a:hover, body.Home .Navbar.Main a:hover {
        color: #655092;
    }

    /*Resources: Subsection: Block */
    .subsection.Block {
        margin-top: 3%;
    }

    .subsection.Block.Wide {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .section.Blocks .subsection.Block .subsectionTitle, .section.Blocks .subsection.Block .subsectionSubtitle {
        align-self: flex-start;
    }

    .subsection.Block.Narrow {
        flex:1 100%;
    }

    .subsection.Block .Button{
        margin: 2%;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
    }

    /* Grids: 1 column */
    .section.Projects .subsection.Project, .section.People .subsection.Person {
        width: calc(100% - 20px);
    }

    /* Home: Section: Lists */
    .section.Lists ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top:10px;
    }

    .section.Lists li {
        width: 80%;
    }

    .section.Lists .sectionSubtitle {
        width: 100%;
    }

    .section.Lists .subsection.Links {
        display: flex;
        justify-content: flex-end;
    }

    /* Home: Section: Tiles */
    .section.Tiles .contentContainer {
        width: 100%; /* RESPONSIVE (MOBILE): width:100%*/
    }

    .subsection.Tile {
        flex-flow: row wrap; /* RESPONSIVE (MOBILE): WRAP*/
        margin: 15px 0 30px 0;
    }

    .subsection.Tile .image {
        flex: 1 100%; /* RESPONSIVE: flex: 1 100%*/
        margin: 0;
    }

    .subsection.Tile .text {
        text-align: left;
        padding: 0;
    }

    .section.Tiles .subsectionTitle {
        margin: 10px 0;
    }

    .section.Tiles .subsection.Links {
        margin: 15px 0;
    }

    /* Home: Section: Slides */
    .section.Slides .SlideContent {
        margin-top: 3%;
    }

    .section.Slides .SlideContent, .section.Slides .subsection.Slide .subsectionTitle, .subsection.Slide img {
        width: 80%;
    }

    .flickity-viewport {
        height: 460px !important; 
    }

    /* Error: Section: Banner */
    .page.Error .section.Banner .sectionTitle {
        font-size: 9em !important;
    }

    /* Resources: Section: Banner */
    .page.Resources .section.Banner .sectionTitle {
        font-size: 1.8em !important;
    }

    .section.Banner .subsection.Links {
        margin: 15px 0;
    }

    /* Resources: Section: Calendar */
    .section.Calendar iframe {
        width: 100%;
        height: 400px; /*RESPONSIVE: REDUCE HEIGHT */
    }

    /* Resources: Section: Events */
    .section.Events .contentContainer {
        width: 100%;
    }

    .section.Events .subsection.Event .dateTime {
        flex: 1 38px;
    }

    .section.Events .subsection.Event .month {
        flex: 0;
    }

    /****** Page: Error ******/
    .page.Error .sectionTitle {
        font-size: 9em;
    }

    .page.Error .Button {
        margin-top: 5%;
    }

    /* Footer */
    .Footer.Links.subsection {
        font-size: 0.8em;
    }
}

/* tablet-sized */
@media (min-width : 736px) and (max-width : 1100px){
    body{
        /* background-color:turquoise; */
        font-size:14px;
    }

    .Button {
        width:100px;

    }

    /* Grids: 2 columns */
    .section.Projects .subsection.Project, .section.People .subsection.Person {
        width: calc(50% - 20px);
        margin: 10px !important;
    }

    /* Home: Section: Lists */
    .section.Lists ul {
        display: flex;
        flex-flow: row nowrap; /* RESPONSIVE (MOBILE): WRAP*/
        margin-top:10px;
    }

   .section.Lists li {
        width: calc(100% * 1/4 - 40px);
    }

    /* Reources: Section: Block */
    /* .section.Blocks .subsection.Block .Button {
        width: 33%;
    } */

    /* Resources: Section: Calendar */
    .section.Calendar iframe {
        width: 100%;
        height: 400px; /*RESPONSIVE: REDUCE HEIGHT */
    }

    /* Resources: Section: Events */
    .section.Events .contentContainer {
        width: 100%;
    }

    .section.Events .subsection.Event .dateTime {
        flex: 1;
    }

    .section.Events .subsection.Event .month {
        flex: 0;
    }

    /* Home: Section: Slides */
    /* .subsection.Slide img {
      max-width: 340px;
    } */

    /* .section.Slides .SlideContent {
      width: 340px;
    } */

    .h-container {
      margin-left: 40%;
      width: 200vw;
    }
}

/* medium-sized screens */
@media (min-width : 1100px) and (max-width : 1420px){
    body{
        /* background-color:lightcoral; */
        font-size:14px;
    }

    /* Resources: Subsection: Block */
    .Block.subsection.Wide {
        margin-right:5%;
    }

    /* Home: Section: Lists */
    .section.Lists li {
        width: 185px;
    }

    /* Home: Section: Slides */
    /* .subsection.Slide img {
      max-width: 400px;
    } */

    /* .section.Slides .SlideContent {
      width: 400px;
    } */

    .h-container {
      margin-left: 40%;
      width: 200vw;
    }
}

/* semi-large screens */
@media (min-width : 1420px) and (max-width : 1600px) {
    body{
        /* background-color: lightskyblue; */
        font-size:16px;
    }

    /* Home: Section: Lists */
    .section.Lists li {
        width: 250px;
        height: 50px;
    }

    /* Home: Section: Slides */
    /* .subsection.Slide img {
      max-width: 500px;
    } */

    /* .section.Slides .SlideContent {
      width: 500px;
    } */

    .h-container {
      margin-left: 40%;
      width: 200vw;
    }
}

@media (min-width : 1600px) and (max-width : 2000px) {
    body{
        /* background-color: lightgreen; */
        font-size:17px;
    }

    /* Home: Section: Lists */
    .section.Lists li {
        width: 250px;
        height: 50px;
    }

    /* Home: Section: Slides */
    /* .subsection.Slide img {
      max-width: 500px;
    } */

    /* .section.Slides .SlideContent {
      width: 500px;
    } */

    .h-container {
      margin-left: 40%;
      width: 200vw;
    }

    /* People/Gallery */
    p.hoverBody {
        margin: 3% 3% 0 3%;
    }
}

/* large screen */
@media (min-width : 2000px) {
    body{
        /* background-color: lightpink; */
        font-size:17px;
    }

    nav {
      padding: 0.75%;
      width: 1280px;
      align-self: center;
    }

    body.Resources nav .subsection {
      margin: 10px 0;
    }

    .section{ /*max content size: 1200px (subject to change)*/
        /* background-color:gray; */
        max-width:1280px;
    }

    .section.Sketches {
        max-width: 100%;
    }

    body.Home nav {
        background-color: white;
    }
    
    body.Home .Navbar.Main a, body.Home .Navbar.subsection.Links a {
        color: black; 
    }
    
    body.Home .Navbar.subsection.Links a:hover, body.Home .Navbar.Main a:hover {
        color: #655092;
    }

    /* Home: Section: Lists */
    .section.Lists li {
        width: 250px;
    }

    /* Home: Section: Slides */
    .section.Slides .sectionTitle, .section.Slides .sectionSubtitle {
      width: 100%;
    }
/* 
    .subsection.Slide img {
      max-width: 700px;
    } */

    /* .section.Slides .SlideContent {
      width: 700px;
    } */

    .h-container {
      margin-left: 40%;
      width: 200vw;
    }

    /* People/Gallery */
    p.hoverBody {
        margin: 4% 4% 0 4%;
    }
}

@media (max-width : 450px){
    /* Home: Section: Slides */
    .section.Slides {
        padding-top: 39px;
    }

    .flickity-button {
        color: black;
    }

     .flickity-button {
        background: transparent !important;
    }

    .flickity-prev-next-button .flickity-button-icon {
        width: 50%;
        height: 50%;
    }

    .section.Slides .SlideContent, .section.Slides .subsection.Slide .subsectionTitle, .subsection.Slide img {
        width: 69% !important;
    }

    .flickity-viewport {
        height: 400px !important;
    }

    footer {
        flex-flow: row wrap;
    }

    .Footer {
        margin: 12px;
    }

    footer .Main.subsection {
        order: 4 !important;
        flex: 1 100%;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    footer .subsection.Links {
        order: 1 !important;
        flex: 1;
    }

    footer .Link {
        padding: 3px;
    }

    footer .Main p {
        margin: 0;
        padding: 3px;
        flex: 1 100%;
    } 

    .Footer {
        margin: 6px;
    }

    footer .Link {
        padding: 3px;
    }

    footer .Main p {
        margin: 0;
        padding: 3px;
    }

    footer a.Image {
        flex: 1 80%;
        max-width: auto;
    }

    footer a.Social {
        align-self: center;
        flex: 1;
    }

    footer .Image img {
        width: 150px;
    }

    footer .Social img {
        width: 22px;
    }

}

/* smallest screens */
@media (max-width : 330px){
    body {
        font-size: 14px !important;
    }

    .sectionTitle {
        font-size: 1.85em !important;
    }

    .Button {
        width: 45%;
    }

    nav .subsection.Main a {
        font-size: 1.25em !important;
    }

    nav .subsection.Toggle img {
        width: 20px !important;
    }

    nav .subsection.Links.active {
        font-size: 1.25em !important;
    }

    /* Error: Section: Banner */
    .page.Error .section.Banner .sectionTitle {
        font-size: 9em !important;
    }

    /* Home: Section: Slides */
    .flickity-viewport {
        height: 325px !important;
    }

    .flickity-button {
        color: black;
    }

    .flickity-prev-next-button {
        top: 42% !important;
    }

    .section.Slides .SlideContent, .section.Slides .subsection.Slide .subsectionTitle, .subsection.Slide img {
        width: 55% !important;
    }
}

/* checking for touch devices */
@media (pointer: coarse) {
    /* People/Gallery */
    .section.People a, .section.Projects a {
        text-decoration: underline;
    }

    .gridHoverText:hover {
        -moz-box-shadow: inset 0 0 0 100vmax rgba(39, 36, 36, 0);
        -webkit-box-shadow: inset 0 0 0 100vmax rgba(39, 36, 36, 0);
        box-shadow: inset 0 0 0 100vmax rgba(39, 36, 36, 0);
    }

    .gridHoverText {
        overflow: visible;
    }

    .gridHoverScroll {
        margin-bottom: auto; 
    }

    .hoverBody, .hoverBody a, .hoverBody a:hover {
        color: black;
        padding: 2% 0;
        margin: 1% 0;
    }

    .section.Projects .subsection.Project, .section.People .subsection.Person {
        flex-direction: column;
        margin: 10px 10px 40px 10px;
    }

    .gridHoverContainer {
        position: static;
    }

    .gridHoverText {
        opacity: 1;
        height: 100%;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }

    .gridHoverText .email {
        order: -1;
        margin: 0;
        padding: 0;
    }

    .gridHoverText .semester {
        order: -1;
        margin: 0;
        padding: 0;
    }
}


